<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Space</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>

    <h1>Show Express Space</h1>

    <h4><strong>Name:</strong> <%= marsMissions.name %></h4>
    <p><strong>Launch Date:</strong> <%= marsMissions.launchDate %></p>
    <p><strong>Operator:</strong> <%= marsMissions.operator %></p>
    <p><strong>Mission Type:</strong> <%= marsMissions.missionType %></p>
    <p><strong>image:</strong></p>
    <img src="<%= marsMissions.img %>">

    
</body>
</html>