<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Space</title>
</head>
<body>
    <h1>Show Express Space</h1>

    <h4><strong>Name:</strong> <%= marsMission.name %></h4>
    <p><strong>Launch Date:</strong> <%= marsMission.launchDate %></p>
    <p><strong>Operator:</strong> <%= marsMission.operator %></p>
    <p><strong>Mission Type:</strong> <%= marsMission.missionType %></p>
    <p><strong>image:</strong> <%= marsMission.img %></p>

    
</body>
</html>